/* Set the background color to black */
/* Set the background color to black */
body {
    background-color: #252A34;
    color: #EAEAEA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.3s;
    padding: 3rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .title:hover {
    font-size: 3.5rem;
    transition-duration: 0.3s;
  }
  
  /* Make the font bold */
  h1, h2, form label, button {
    font-weight: bold;
  }
  
  /* Display the running time in white */
  #running-time {
    color: #FF2E63;
  }
  
  /* Add hover animations and transition times */
 
  
  form input:hover, form input:focus {
    border-color: #EAEAEA;
    transition: border-color 0.5s;
  }
  
  /* Hide the show previous entries button when the previous journal entries are being displayed */
  #previous-entries-list {
    display: none;
  }
  
  /* Use a grid layout to display the journal entries */
  .previous-entries-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 20px;
  }
  
  /* Add some styling to the journal entries */
  li {
    background-color: rgba(255, 255, 255, 0.1);
    color: #EAEAEA;
    font-size: 1.5rem;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Add a hover effect to the journal entries */
  li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s;
  }
  
  /* Add a fade-in effect when the journal entries are displayed */
  .previous-entries-list {
    animation: fade-in 0.5s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Add a fade-out effect when the journal entries are hidden */
  .previous-entries-list {
    animation: fade-out 0.5s;
  }
  
  #current-date {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #08D9D6;
  }
  
  #running-time {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #FF2E63;
    transition-duration: 0.5s;
  }
  #running-time:hover {
    font-size: 2rem;
    transition-duration: 0.5s;
    color: #FF2E65;
  }
  .btn {
    background-color: #004847;
    color: #252A34;
    /* border: 1px solid #FF2E63; */
    border-radius: 30px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    transition-duration: 0.5s;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
     
  }
   .btn-group {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    text-align: center;
    
    /* align-items: center; */
    margin-top: 20px;
    margin-left: 30%;
   }

   .contact{
    /* set default styling as bootstrap */
     padding: 10px;
     
   }